# NOTES
# If you’re installing or running Python stuff → make sure you see (venv) in your terminal
#   Activate venv -> source venv/bin/activate


# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node / React
node_modules/
build/
.env

# VS Code
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db


